<!DOCTYPE html>
<html>
	<head>
		<title>Cuaresma</title>
		<link rel="stylesheet" href=" styles.css" />
	</head>
	<body>
		<header>
			<img src="images/logoVatican.png" />

			<form action="http://www.vatican.va/roman_curia/index_sp.htm" method="get">
				<button type="submit" class="initialButton headerButton">
					<strong>Curia Romana</strong>
				</button>
			</form>
			<form action="http://www.vatican.va/news_services/index_sp.htm" method="get">
				<button type="submit" class="headerButton">
					<strong>Servicios Informativos</strong>
				</button>
			</form>
			<form action="http://www.vatican.va/vatican_city_state/index_sp.htm" method="get">
				<button type="submit" class="headerButton">
					<strong>Ciudad del Vaticano</strong>
				</button>
			</form>
			<form action="http://www.vatican.va/liturgical_year/liturgico_sp/liturgico_sp.html" method="get">
				<button type="submit" class="headerButton">
					<strong>Año liturgico</strong>
				</button>
			</form>
			<form action="http://w2.vatican.va/content/liturgy/es.html" method="get">
				<button type="submit" class="headerButton">
					<strong>Celebraciones Liturgicas</strong>
				</button>
			</form>
		</header>
		<div id="banner">
			<div class="inside">
				<p class="strongP">
					Conserva la esperanza, 
				</p>
				<p class="strongP">
					dejate sorprender por Dios
				</p>
				<p class="strongP">
					y vive con alegria
				</p>
				<p>
					<em><strong>Papa francisco</strong></em>
				</p>
			</div>
		</div>
		<div id="second-type-div">
			<div class="upper-div">
				<div class="inner-div-first">
					<h1>Cartas 2018</h1>
					<p>Todas las cartas mandadas</p>
					<p>por el Santo Padre en 2018</p>
					<form action="http://w2.vatican.va/content/francesco/es/letters/2018.index.html" method="get">
						<button>Saber mas</button>
					</form>
				</div>
				<div class="inner-div-first">
					<h1>Cartas 2017</h1>
					<p>Todas las cartas mandadas</p>
					<p>por el Santo Padre en 2017</p>
					<form action="http://w2.vatican.va/content/francesco/es/letters/2017.index.html" method="get">
						<button>Saber mas</button>
					</form>
				</div>
				<div class="inner-div-first">
					<h1>Cartas 2016</h1>
					<p>Todas las cartas mandadas</p>
					<p>por el Santo Padre en 2016</p>
					<form action="http://w2.vatican.va/content/francesco/es/letters/2016.index.html" method="get">
						<button>Saber mas</button>
					</form>
				</div>
			</div>
			<div class="lower-div">
				<div class="inner-div-first">
					<h1>Cartas 2015</h1>
					<p>Todas las cartas mandadas</p>
					<p>por el Santo Padre en 2015</p>
					<form action="http://w2.vatican.va/content/francesco/es/letters/2015.index.html" method="get">
						<button>Saber mas</button>
					</form>
				</div>
				<div class="inner-div-first">
					<h1>Cartas 2014</h1>
					<p>Todas las cartas mandadas</p>
					<p>por el Santo Padre en 2014</p>
					<form>
						<button>Saber mas</button>
					</form action="http://w2.vatican.va/content/francesco/es/letters/2014.index.html" method="get">
				</div>
				<div class="inner-div-first">
					<h1>Cartas 2013</h1>
					<p>Todas las cartas mandadas</p>
					<p>por el Santo Padre en 2013</p>
					<form action="http://w2.vatican.va/content/francesco/es/letters/2013.index.html" method="get">
						<button>Saber mas</button>
					</form>
				</div>
			</div>
		</div>
		<div id="third-type-div">
			<h1>
				Oraciones
			</h1>
			<p>
				<strong><em>No temas al tiempo, nadie es eterno...</em></strong>
			</p>
			<div class="inner-div-second">
				<div class="rounded-inner-div">
					<img src="images/caliz.jpg"/>
				</div>
				<p><strong><em>No temas a las heridas, te hacen mas fuerte...</em></strong></p>
				<form action="http://w2.vatican.va/content/francesco/es/prayers/documents/papa-francesco_preghiere_20180121_reliquie-santiperuviani.html" method="get">
						<button class="buttonTransparent" type="submit">Mas</button>
					</form>
			</div>
			<div class="inner-div-second">
				<div class="rounded-inner-div">
					<img src="images/ostia.png"/>
				</div>
				<p><strong><em>No temas al llanto, te limpia el alma...</em></strong></p>
				<form action="http://w2.vatican.va/content/francesco/es/prayers/documents/papa-francesco_preghiere_20171208_immacolata.html" method="get">
						<button class="buttonTransparent" type="submit">Mas</button>
					</form>
			</div>
			<div class="inner-div-second">
				<div class="rounded-inner-div">
					<img src="images/vela.jpg"/>
				</div>
				<p><strong><em>No temas a los retos, te hacen mas agil...</em></strong></p>
				<form action="http://w2.vatican.va/content/francesco/es/prayers/documents/papa-francesco_preghiere_20170512_fatima.html" method="get">
						<button class="buttonTransparent" type="submit">Mas</button>
					</form>
			</div>
			<div class="inner-div-second">
				<div class="rounded-inner-div">
					<img src="images/biblia.jpg"/>
				</div>
				<p><strong><em>No temas a equivocarte, te hace mas sabio...</em></strong></p>
				<form action="http://w2.vatican.va/content/francesco/es/prayers/documents/papa-francesco_preghiere_20161208_immacolata.html" method="get">
						<button class="buttonTransparent" type="submit">Mas</button>
					</form>
			</div>
		</div>
		<div id="forth-type-div">
			<div class="inner-div-second">
				<em><strong><p>Para conseguir la paz</p>
				<p>se necestia valor, mucho</p>
				<p>mas que para hacer la guerra</p></strong></em>
			</div>
			<div class="inner-div-second">
				<em><strong><p>Como me gustaria una Iglesia pobre</p>
				<p>y para los pobres</p></strong></em>
			</div>
			<div class="inner-div-second">
				<strong><em><p>Si quieren un corazon</p>
				<p>lleno de amor</p>
				<p>sean misericordiosos</p></em></strong>
			</div>
			<div class="inner-div-second">
				<strong><em><p>Los jovenes confunden felicidad</p>
				<p>con un sofa</p></em></strong>
			</div>
		</div>
		<div id="fifth-type-div">
			<h1>Frases del Papa Francisco</h1>
			<div class="inner-div-second moded">
				<strong><em><p>La familia es la fuente de</p>
				<p>toda fraternidad y por eso es</p>
				<p>tambien el fundamento y el</p>
				<p>camino primordial para la paz,</p>
				<p>pues, por vocacion, deberia</p>
				<p>contagiar al mundo con su</p>
				<p>amor</p></em></strong>
			</div>
			<div class="inner-div-second moded">
				<strong><em><p>Es necesario realizar gestos</p>
				<p>de humildad,</p>
				<p>de fraternidad,</p>
				<p>de perdon,</p>
				<p>de reconcialiacion.</p>
				<p>Estos gestos son premisas</p>
				<p>y condicion para una paz</p>
				<p>autentica, solida y durareda</p></em></strong>
			</div>
		</div>
		<footer>
			
		</footer>
	</body>
</html>